{% load staticfiles %}
<html>
    <head>

    <style>
        .changepass{

     position:fixed;
    right:10px;
         top:5px;
}
.middlepage{height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;}
    </style>
         {% if user.is_authenticated %}
            
             <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
             <form align="right" name="form1" method="get" action="{% url 'changepassword' %}">
                 <label class="changepass" >
                     {% csrf_token %}
                     <button name="subject" type="submit" value="Change Password">Change Password</button>
                 </label>
             </form>
        {% else %}
				<div class="middlepage">
				<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
				<p class="top-menu">Welcome, new user. Please log in. </p>
				</div>
        {% endif %}
        <title>Admin Portal</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div class="page-header">

            <h1><a href="">Admin Portal</a></h1>
           
        </div>


  <div class="content container">
    <div class="row">
        <div class="col-md-8">

        </div>
    </div>
</div>
    </body>
</html>



