{% load staticfiles %}
<html>
    <head>

    <style>
        .changepass{

     position:fixed;
    right:10px;
         top:5px;
}
.middlepage{height: 200px;
    width: 400px;


    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;}

        p{
            color: red;
        }
    </style>



        <title>Admin Portal</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div class="page-header">

            <h1><a href="" >Admin Portal</a></h1>

        </div>


  <div class="content container">
    <div class="row">
        <div class="col-md-8">

            {% if form.errors %}
        <p>Passwords didn't match. Please try again.</p>
    {% endif %}

    <form method="post" class="middlepage">
    {% csrf_token %}
        <p>Your password has been set.  You may go ahead and log in now.</p>

        <a href="{% url 'login' %}">Log in</a>



        <input type="hidden" name="next" value="{{ next }}" />
    </form>
        </div>
    </div>
</div>
    </body>
</html>